# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Ignore tweet files
data/*.json

.DS_Store
data/tweet_collection/tweets96.json
data/tweet_collection/tweets95.json
data/tweet_collection/tweets94.json
data/tweet_collection/tweets93.json
data/tweet_collection/tweets92.json
data/tweet_collection/tweets91.json
data/tweet_collection/tweets90.json
data/tweet_collection/tweets9.json
data/tweet_collection/tweets89.json
data/tweet_collection/tweets88.json
data/tweet_collection/tweets87.json
data/tweet_collection/tweets86.json
data/tweet_collection/tweets85.json
data/tweet_collection/tweets84.json
data/tweet_collection/tweets83.json
data/tweet_collection/tweets82.json
data/tweet_collection/tweets81.json
data/tweet_collection/tweets80.json
data/tweet_collection/tweets8.json
data/tweet_collection/tweets79.json
data/tweet_collection/tweets78.json
data/tweet_collection/tweets77.json
data/tweet_collection/tweets76.json
data/tweet_collection/tweets75.json
data/tweet_collection/tweets74.json
data/tweet_collection/tweets73.json
data/tweet_collection/tweets72.json
data/tweet_collection/tweets71.json
data/tweet_collection/tweets70.json
data/tweet_collection/tweets7.json
data/tweet_collection/tweets69.json
data/tweet_collection/tweets68.json
data/tweet_collection/tweets67.json
data/tweet_collection/tweets66.json
data/tweet_collection/tweets65.json
data/tweet_collection/tweets64.json
data/tweet_collection/tweets63.json
data/tweet_collection/tweets62.json
data/tweet_collection/tweets61.json
data/tweet_collection/tweets60.json
data/tweet_collection/tweets6.json
data/tweet_collection/tweets59.json
data/tweet_collection/tweets58.json
data/tweet_collection/tweets57.json
data/tweet_collection/tweets56.json
data/tweet_collection/tweets55.json
data/tweet_collection/tweets54.json
data/tweet_collection/tweets53.json
data/tweet_collection/tweets52.json
data/tweet_collection/tweets51.json
data/tweet_collection/tweets50.json
data/tweet_collection/tweets5.json
data/tweet_collection/tweets49.json
data/tweet_collection/tweets48.json
data/tweet_collection/tweets47.json
data/tweet_collection/tweets46.json
data/tweet_collection/tweets45.json
data/tweet_collection/tweets44.json
data/tweet_collection/tweets43.json
data/tweet_collection/tweets42.json
data/tweet_collection/tweets41.json
data/tweet_collection/tweets40.json
data/tweet_collection/tweets4.json
data/tweet_collection/tweets39.json
data/tweet_collection/tweets38.json
data/tweet_collection/tweets37.json
data/tweet_collection/tweets36.json
data/tweet_collection/tweets35.json
data/tweet_collection/tweets34.json
data/tweet_collection/tweets33.json
data/tweet_collection/tweets32.json
data/tweet_collection/tweets31.json
data/tweet_collection/tweets30.json
data/tweet_collection/tweets3.json
data/tweet_collection/tweets29.json
data/tweet_collection/tweets28.json
data/tweet_collection/tweets27.json
data/tweet_collection/tweets26.json
data/tweet_collection/tweets25.json
data/tweet_collection/tweets24.json
data/tweet_collection/tweets23.json
data/tweet_collection/tweets22.json
data/tweet_collection/tweets21.json
data/tweet_collection/tweets20.json
data/tweet_collection/tweets2.json
data/tweet_collection/tweets19.json
data/tweet_collection/tweets18.json
data/tweet_collection/tweets17.json
data/tweet_collection/tweets16.json
data/tweet_collection/tweets15.json
data/tweet_collection/tweets14.json
data/tweet_collection/tweets13.json
data/tweet_collection/tweets12.json
data/tweet_collection/tweets11.json
data/tweet_collection/tweets10.json
data/tweet_collection/tweets1.json
data/tweet_collection/tweets0.json
data/twitter-dataset.zip
Group Project.pdf
